* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    background-color: #EEEEEE;
    font-family: 'Roboto', sans-serif;
}
main {
    margin: auto;
    background-color: #EEEEEE;
    height: 100vh;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}
h1 {
    font-size: 45px;
    font-weight: 900;
    padding-bottom: 30px;
}
.hide {
    display: none;
}
.fa-cart-shopping {
    font-size: 50px;
}
#todo-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    margin-bottom: 30px;
    padding-bottom: 25px;
    border-bottom: 2px solid black;
}
.form-control {
    width: 250px;
    border: none;
    background-color: #1C1C1C;
    font-size: 0.9rem;
    height: 2.5rem;
    padding-left: 12px;
    padding-right: 10px;
    outline: none;
    color: #EEEEEE;
    border-radius: 25px;
    box-shadow: 5px 5px 10px rgb(190, 190, 190);
}
.button-todo {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    border: none;
    background-color: #00D655;
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 25px;
    box-shadow: 5px 5px 10px rgb(180, 180, 180);
}
.button-todo:hover {
    cursor:pointer;
    background-color: rgb(0, 0, 0, 0.5);
    transition: 0.3s;
    transform: translatey(-2px);
}
#button-cancel {
    font-size: 0.9rem;
    font-weight: 600;
    border: none;
    background-color: #B5B5B5;
    border-radius: 25px;
    padding: 5px 10px;
    margin-top: 10px;
    width: 80px;
}
#edit-form {
    text-align: center;
    background-color: #1C1C1C;
    padding: 15px 0px;
    border-radius: 30px;
    width: 320px;
    box-shadow: 5px 5px 10px rgb(180, 180, 180);
}
#edit-form h3 {
    font-size: 0.9rem;
    font-weight: 600;
    color: #EEEEEE;
    padding-bottom: 10px;
}
#button-edit {
    margin: 0;
    box-shadow: none;
    background-color: #B5B5B5;
}
.edit-part {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
#input-edit {
    color: black;
    font-weight: 600;
    background-color: #D9D9D9;
    box-shadow: none;
    font-size: 0.8rem;
    height: 2.2rem;
}
#input-edit::placeholder{
    color: #1C1C1C;
    font-weight: 200;
}
#search-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-bottom: 15px;
}
#search-input {
    height: 2.2rem;
    border: none;
    background-color: #D9D9D9;
    color: #1C1C1C;
}
#search-input::placeholder{
    color: #242424;
}
#button-erase {
    background-color: #D9D9D9;
}
.custom-select {
    width: 290px;
    border: none;
    background-color: #D9D9D9;
    font-size: 0.9rem;
    height: 2.2rem;
    padding-left: 12px;
    outline: none;
    color: #242424;
    border-radius: 25px;
    box-shadow: 5px 5px 10px rgb(190, 190, 190);
}
.custom-select option {
    color: #1C1C1C;
}
#todo-list {
    margin-top: 35px;
    background-color: #D9D9D9;
    width: 340px;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border-radius: 30px;
}
#todo-list:empty {
    display: none;
}
.todo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #B5B5B5;
    padding: 10px;
    width: 300px;
    border-radius: 20px;
    font-size: 0.9rem;
    line-height: 1rem;
    box-shadow: 5px 5px 10px rgb(190, 190, 190);
}
.todo-buttons {
    display: flex;
    gap: 5px;
    margin-right: 2px;
}
.todo-buttons button {
    font-size: 1rem;
    border: none;
    width: 1.6rem;
    height: 1.6rem;
    background-color: transparent;
    border-radius: 1rem;
}
.todo-buttons button:hover {
    cursor:pointer;
    background-color: rgb(0, 0, 0, 0.2);
    transition: 0.3s;
}
.done {
    text-decoration: line-through 2px;
    background-color: #00D655;
}